
<div class="container marketing">
    <div class="col-lg-10">
     <h1>Pool Construction</h1>
      <h2><small>
      Our average custom pool construction is completed in 6-8 weeks. This time frame, like all construction, is dependant on the weather. Radius Pools will be able to provide you with a more accurate time frame during the initial free estimate.
      </small>
      </h2>
     </div>
      
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Step 1: Layout &amp; Design</h2>
          <p class="lead">Before Construction begins, the Layout of your project must be done. We send out our Layout team to paint and pin the actual shape of your pool or spa onto the ground which will be used as a guide by the excavators. He has all the specifics on pool size, location, and measurements in Cad form which came directly from your pool design contract and drawing. Once the layout is complete, a pre-construction meeting will be scheduled.</p>
        </div>
        <div class="col-md-5">
         <img class="featurette-image img-responsive center-block" src="/system/images/W1siZiIsIjIwMTYvMDQvMjgvM3ZoOWE2ZHl6aV9EZXNpZ25fTGF5b3V0LnBuZyJdLFsicCIsInRodW1iIiwiMjI1eDI1NVx1MDAzZSJdXQ/Design_Layout.png?sha=51cd5ef83a2ae4a3" title="design-layout" alt="design-layout" data-rel="225x255" style="padding-top: 50px;" width="350" height="350" />

        </div>
      </div>
      
      
      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Step 2: Excavation</h2>
          <p class="lead">Radius Pools will have highly experienced excavators to “dig” your swimming pool or spa. The crews are experts in their field, trained for efficiency and safety. Typically, your pool will be excavated in one to two days, depending on the soil conditions they may encounter.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="/system/images/W1siZiIsIjIwMTYvMDUvMDQvODZ1bGx3bGw5Zl9pbWFnZTUzLmpwZyJdLFsicCIsInRodW1iIiwiMjI1eDI1NVx1MDAzZSJdXQ/image53.jpg?sha=923e1c3e36aa1f67" title="cp11" alt="cp11" data-rel="225x255" style="padding-top: 50px;" width="450" height="400" /></div>
      </div>
      <hr class="featurette-divider" />
      
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Step 3: Plumbing, Equipment &amp; Heating Systems</h2>
          <p class="lead">Our equipment and hydraulics components will ensure years of trouble free enjoyment with minimal maintenance to the homeowner. Once the excavation phase has been completed, our team of expert plumbers will be scheduled to install the plumbing lines and pool equipment. If your pool or spa has any gas appliances, gas lines will be installed at this time by our highly experienced and certified gas company.</p>
        </div>
        <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="/system/images/W1siZiIsIjIwMTYvMDUvMDQvNnhvbjlvY3Rubl9pbWFnZTU5LmpwZyJdLFsicCIsInRodW1iIiwiMjI1eDI1NVx1MDAzZSJdXQ/image59.jpg?sha=32b64486172aae9b" title="cp16" alt="cp16" data-rel="225x255" style="padding-top: 50px;" width="450" height="400" />

      </div>
      </div>
        
        <hr class="featurette-divider" />
      
      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Step 4: Rebar frame</h2>
          <p class="lead">Following the plumbing phase will be rebar. A steel frame is installed inside the pool which will reinforce and strengthen the shotcrete shell of your swimming pool. Our rebar company is a leader in their industry, with a team of experienced, hard working, thorough and efficient employees.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="/system/images/W1siZiIsIjIwMTYvMDUvMDQvOGo0bzJncjUzNl9pbWFnZTQ1LmpwZyJdLFsicCIsInRodW1iIiwiMjI1eDI1NVx1MDAzZSJdXQ/image45.jpg?sha=0966a12b7c98bf36" title="cp3" alt="cp3" data-rel="225x255" style="padding-top: 50px;" width="450" height="400" />
      </div>
      </div>
      <hr class="featurette-divider" />
      
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Step 5: Electrical</h2>
          <p class="lead">The electrical conduit will run from your home breaker box to the pool or spa equipment location and PVC conduit will run from your pool or spa light to your equipment location, usually lines will run underground. The city inspector will be notified once the electrical phase has been completed.</p>
        </div>
        <div class="col-md-5 ">
        <img class="featurette-image img-responsive center-block" src="/system/images/W1siZiIsIjIwMTYvMDUvMDQvM25qeDFqcXRlZF9pbWFnZTU0LmpwZyJdLFsicCIsInRodW1iIiwiMjI1eDI1NVx1MDAzZSJdXQ/image54.jpg?sha=dce63d2a7237ce5b" title="cp12" alt="cp12" data-rel="225x255" style="padding-top: 50px;" width="450" height="400" />
      </div>
      </div>
      <hr class="featurette-divider" />
      
      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading"><span class="text-muted">Step 6: Shotcrete</span> </h2>
          <p class="lead"> Shotcrete is the concrete shell of your pool. Our experienced shotcrete company blends a special mix of shotcrete which is then “shot” into the pool under high pressure through hoses. This phase will require participation of the homeowner for the process of “water curing”.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="/system/images/W1siZiIsIjIwMTYvMDUvMDQvMWMzMXE5a2hjbV9pbWFnZTQ2LmpwZyJdLFsicCIsInRodW1iIiwiMjI1eDI1NVx1MDAzZSJdXQ/image46.jpg?sha=996c7737f173cdac" title="cp4" alt="cp4" data-rel="225x255" style="padding-top: 50px;" width="450" height="400" />
      </div>
      </div>
      <hr class="featurette-divider" />
      
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">Step 7: Masonry &amp; Hardscapes</span> </h2>
          <p class="lead">Accents and water features may take a few days depending on size and numbers, but other hardscapes, including fireplaces, BBQ’s etc may take longer depending on the complexities involved in their installation. Our hardscape companies do an incredible job, and their work is like artistry in motion.</p>
        </div>
        <div class="col-md-5">
         <img class="featurette-image img-responsive center-block" src="/system/images/W1siZiIsIjIwMTYvMDUvMDQvN3hlYmFnYWN6eF9pbWFnZTYxLmpwZyJdLFsicCIsInRodW1iIiwiMjI1eDI1NVx1MDAzZSJdXQ/image61.jpg?sha=3a24ff441e1c1ec7" title="cp14" alt="cp14" data-rel="225x255" style="padding-top: 50px;" width="450" height="400" />

        </div>
      </div>
       <hr class="featurette-divider" />
      
      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading"><span class="text-muted">Step 8: Decking &amp; Stone</span>
</h2>
          <p class="lead">Acrylic decking may take up to 3 days depending on the size of the deck, but decking involving flagstone, travertine, pavers or other stone features could take up to several weeks as they are more labor intensive. The choices of deck are many, but this phase is one of the most visible features on your pool or spa, and it will be very exciting for you to see this process through to completion.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
        <img src="/system/images/W1siZiIsIjIwMTYvMDUvMDYvMmd3N3Q2Yjlic19pbWFnZTYzLmpwZyJdXQ/image63.jpg?sha=998b9d373fe236ad" title="image63" alt="image63" data-rel="225x255" width="450" height="400" />
      </div>
      </div>
       <hr class="featurette-divider" />
      
      <div class="row featurette">
        <div class="col-md-7 ">
          <h2 class="featurette-heading"><span class="text-muted">Step 9: Tile</span>
</h2>
          <p class="lead">The tile selection you chose will be installed around the perimeter of the pool or spa. If any tile mosaics or step tiles have been chosen, they may be installed at a later date. The tile phase will be followed by a clean up of all pool and spa construction debris. Our tile crews do amazing work and bring the “first” touch of color to your pool or spa.</p>
        </div>
        <div class="col-md-5 ">
         <img src="/system/images/W1siZiIsIjIwMTYvMDUvMDkvNnE5M3oybXB5c19pbWFnZTY1LmpwZyJdLFsicCIsInRodW1iIiwiNDUweDQ1MFx1MDAzZSJdXQ/image65.jpg?sha=255d6e0d4eece7d3" title="image65" alt="image65" data-rel="450x450" width="450" height="400" />
         </div>

      </div>
       <hr class="featurette-divider" />
      
      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading"><span class="text-muted">Step 10: Interior Surface</span>
</h2>
          <p class="lead">The final phase before water goes into the pool or spa, is installation of the interior you have chosen. Like decking and tile choices, your interior possibilities are many. Once the chosen interior has been installed, the pool or spa will begin filling with water and your backyard will be transformed into a vacation spot without leaving home.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img src="/system/images/W1siZiIsIjIwMTYvMDUvMDYvNTg3ZmcxdWtuM19TY3JlZW5fU2hvdF8yMDE2XzA1XzA2X2F0XzEyLjAzLjUyX1BNLnBuZyJdXQ/Screen%20Shot%202016-05-06%20at%2012.03.52%20PM.png?sha=77ee071a68ef7bf4" title="image65" alt="image65" data-rel="450x450" width="450" height="400" />
       </div>
     </div>
<div class="col-md-5"></div>
      </div> 
       <hr class="featurette-divider" />
      
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">Step 11: Start Up &amp; Homeowner Orientation</span>
</h2>
          <p class="lead">Have your bathing suit ready because at this point, you are ready to make a splash. A meeting will be set up with you to provide instructions on how to work and maintain your pool. Swim safe and Enjoy!</p>
        </div>
        <div class="col-md-5">
         <img class="featurette-image img-responsive center-block" src="/system/images/W1siZiIsIjIwMTYvMDUvMDQvNzBzaXcxZWM5Ml9pbWFnZTUyLmpwZyJdLFsicCIsInRodW1iIiwiMjI1eDI1NVx1MDAzZSJdXQ/image52.jpg?sha=1c011cf43a1ee8e6" title="cp10" alt="cp10" data-rel="225x255" style="padding-top: 50px;" width="450" height="400" />

        </div>
      </div>

<hr class="featurette-divider" />