




  <%= link_to refinery.portfolio_gallery_path(gallery) do %>

  <div id="<%= dom_id(gallery) %>" class="gallery">
  <hr class="featurette-divider">


      <div class="row featurette">

      <div class="col-md-7">
        <h2 class="featurette-heading"><span class="text-muted"><%= gallery.title %></span></h2>
        <% if ::Refinery::Portfolio.display_gallery_text %>
          <p class="lead"><%= raw gallery.description %></p>
        <% end %>
      </div>

        
      <div class="col-md-5">
        <% if gallery.cover_image.present? %>
        <%= image_fu gallery.cover_image.image, 
              ::Refinery::Portfolio.cover_image_thumb_size,
              {:title => gallery.cover_image.title, :class => "featurette-image img-responsive center-block", :width =>"350"} %>
        <% end %>
      </div>
       
      </div>
  </div>
  <% end %>

