<div class="container">

    <div class="row">

        <div class="col-lg-10 col-lg-push-1">

			<% content_for :body do %>
			  <%= raw @page.content_for(:body) %>
			  <%= render 'refinery/portfolio/items/items', :items => @items %>
			  <%= render 'galleries', :galleries => @galleries %>

			<% end %>

			<%= render '/refinery/content_page' %>
		</div>
	</div>
</div>
