<div class="container">

 <p class="pull-right footer_text"><a href="#">Back to top</a></p>
 <p class="footer_text"><%= t('.copyright', :year => Time.now.year,:site_name => Refinery::Core.site_name) %> | <%= mail_to "Radiuspools@yahoo.com", "Email" %></p>
 

 
</div>